
.first-box-container {

  width: 180px;
  height: 100px;

  background-color: red;

  position: relative;

  color: rgb(60, 29, 173);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 30px;
  
  
  
  border-style: solid;
  border-width: 8px;
  border-color: rgb(19, 177, 85);
  
 }


.second-box-container {

  width: 180px;
  height: 100px;

  background-color: yellow;

  position: relative;
  top: -146px;
  left: 220px;

  color: rgb(60, 29, 173);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 30px;
  
  border-style: solid;
  border-width: 8px;
  border-color: rgb(255, 87, 87);
}


.third-box-container {

  width: 180px;
  height: 100px;

  background-color: green;

  position: relative;
  top: -292px;
  left: 440px;

  color: rgb(60, 29, 173);
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 30px;

  border-style: solid;
  border-width: 8px;
  border-color: rgb(255, 255, 0);
}